/* .App {
  text-align: center;
} */

.section {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #64748b;
}

.section-head {
  font-size: 1.35rem;
  font-weight: bold;
}

.div-sort {
  margin: 0.35rem 0rem;
}

.label-radio {
  font-size: 1rem;
}

.sub-section {
  margin: 0.35rem 0rem;
}

.sub-section-head {
  font-size: 1.25rem;
  font-weight: 800;
}


.btn-clear{
  margin:0.5rem auto;
  font-size: 1.15rem;
  padding:0.25rem 2rem;
  border-radius: 0.25rem;
  color:#F1F5F9;
  background-color: #075985;
  border:none;
  outline:none;
}